{% extends 'patient/base.html' %}
{% load static %}

{% block content %}
  
  <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg bg-transparent shadow-none position-absolute px-4 w-100 z-index-2">
      <div class="container-fluid py-1">
        <nav aria-label="breadcrumb">
          <h6 class="text-white font-weight-bolder ms-2">Select a Doctor and date and time to book an appointment</h6>
        </nav>
        <div class="collapse navbar-collapse me-md-0 me-sm-4 mt-sm-0 mt-2" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            
          </div>
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="/signin" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Doctor Sign In</span>
              </a>
            </li>
            
            
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url({% static '/img/curved-images/curved0.jpg' %}); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
          <div class="col-auto">
            
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                Welcome to Book an Appointment
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
                Find doctor's below to book an appointment
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        
        <div class="col-12 mt-4">
          <div class="card mb-4">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-1">Doctors</h6>
              <p class="text-sm">Best Doctor you can find here</p>
            </div>
            <div class="card-body p-3">
              <div class="row">

                {% for doctor in doctors%}
                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4 doctor_details" id="doctor_details_{{doctor.id}}">
                  <div class="card card-blog card-plain">
                    <div class="position-relative">
                      
                    </div>
                    <div class="card-body px-1 pb-0">
                      
                      <a href="javascript:;">
                        <h5>
                          Dr. {{doctor.name}}
                        </h5>
                      </a>
                      <p class="mb-4 text-sm">
                        Email : {{doctor.user.username}} </br>
                        Day Start's : {{doctor.day_start_time}} </br>
                        Day End's : {{doctor.day_end_time}}</br>
                        Per Patient Time : {{doctor.appointment_slot_time}}
                      </p>
                      <div class="d-flex align-items-center justify-content-between">
                        <button type="button" class="btn btn-outline-primary btn-sm mb-0 appoinment_btn" id="select_date_time_{{doctor.id}}">Select Date & Time</button>
                        
                      </div>

                      

                    </div>
                  </div>

                  
                </div>

                <div class="col-xl-7 col-md-6 mb-xl-0 mb-4 appointment_div" id="appointment_div_{{doctor.id}}">
                  <div class="card card-blog card-plain">
                    <div class="position-relative">
                      
                    </div>
                    <div class="card-body px-1 pb-0">
                      <h5>
                        Enter Your Details
                      </h5>
                      <input type="text" id="patient_name_{{doctor.id}}" style="margin-left:1%" class="form-control" placeholder="Enter Your Name">
                      <input type="email" id="patient_email_{{doctor.id}}" style="margin-left:1%;margin-top:1%" class="form-control" placeholder="Email Address">
                      <input type="text" id="patient_contact_{{doctor.id}}" style="margin-left:1%;margin-top:1%" class="form-control" placeholder="Contact Number">

                        <h5>
                          Select Date
                        </h5>
                      
                      <div style="margin-top:2%" >
                       <input type="date" id="appointment_date_{{doctor.id}}" style="margin-left:1%" class="form-control">

                  
                       <h5 style="margin-top:2%">
                        Select Time Slot
                      </h5>
                      <input type="hidden" id="doctor_start_time_{{doctor.id}}" value="{{doctor.day_start_time}}">
                      <input type="hidden" id="doctor_end_time_{{doctor.id}}"  value="{{doctor.day_end_time}}">
                      <input type="hidden" id="doctor_time_slot_{{doctor.id}}"  value="{{doctor.appointment_slot_time}}">

                        <div id="doctor_time_slot_div_{{doctor.id}}">
                         
                        </div>
                        
                        <button type="button" class="btn btn-outline-danger btn-sm mb-0 cancel_appointment_btn" id="cancel_appointment_btn_{{doctor.id}}">Cancel</button>
                        <button type="button" class="btn btn-success btn-sm mb-0 book_appointment_btn" id="book_appointment_btn_{{doctor.id}}">Book Appointment</button>

                      </div>

                    </div>
                  </div>

                  
                </div>
                {% endfor %}
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
      <i class="fa fa-cog py-2"> </i>
    </a>
    <div class="card shadow-lg ">
      <div class="card-header pb-0 pt-3 ">
        <div class="float-start">
          <h5 class="mt-3 mb-0">Soft UI Configurator</h5>
          <p>See our dashboard options.</p>
        </div>
        <div class="float-end mt-4">
          <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
            <i class="fa fa-close"></i>
          </button>
        </div>
        <!-- End Toggle Button -->
      </div>
      <hr class="horizontal dark my-1">
      <div class="card-body pt-sm-3 pt-0">
        <!-- Sidebar Backgrounds -->
        <div>
          <h6 class="mb-0">Sidebar Colors</h6>
        </div>
        <a href="javascript:void(0)" class="switch-trigger background-color">
          <div class="badge-colors my-2 text-start">
            <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
          </div>
        </a>
        <!-- Sidenav Type -->
        <div class="mt-3">
          <h6 class="mb-0">Sidenav Type</h6>
          <p class="text-sm">Choose between 2 different sidenav types.</p>
        </div>
        <div class="d-flex">
          <button class="btn bg-gradient-primary w-100 px-3 mb-2 active" data-class="bg-transparent" onclick="sidebarType(this)">Transparent</button>
          <button class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
        </div>
        <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
        <!-- Navbar Fixed -->
        <hr class="horizontal dark my-sm-4">
        <a class="btn bg-gradient-dark w-100" href="https://www.creative-tim.com/product/soft-ui-dashboard-pro">Free Download</a>
        <a class="btn btn-outline-dark w-100" href="https://www.creative-tim.com/learning-lab/bootstrap/license/soft-ui-dashboard">View documentation</a>
        <div class="w-100 text-center">
          <a class="github-button" href="https://github.com/creativetimofficial/soft-ui-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/soft-ui-dashboard on GitHub">Star</a>
          <h6 class="mt-3">Thank you for sharing!</h6>
          <a href="https://twitter.com/intent/tweet?text=Check%20Soft%20UI%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&amp;url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fsoft-ui-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/soft-ui-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}